body {
  font-family: Arial, sans-serif;
}

.container {
  margin-top: 20px;
}

.titulo, .subtitulo {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  text-align: center;
}

.titulo {
  font-size: 65.34px;
  line-height: 82px;
  text-decoration-skip-ink: none;
}

.subtitulo {
  font-size: 50.52px; /* Ajustado para responsive */
}

.custom-button {
  width: 251px;
  height: 56px;
  padding: 16px 0;
  border-radius: 67px 0 0 0;
  background-color: #285E67;
  color: white;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}

.hoja {
  width: 92.12px;
  height: 82.06px;
  position: absolute;
  top: 11.47px;
  left: 278.94px;
  border-radius: 9px 0 0 0;
  border: 2px solid #000;
}

.planta {
  max-width: 100%;
  height: auto;
  border-radius: 16px 0 0 0;
}

.icon {
  width: 52px;
  height: 52px;
}

.text-with-icon {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.text-item {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
}

.text-item .icon {
  width: 52px;
  height: 52px;
  margin-right: 15px;
}

.text-item p {
  margin: 0;
}

.d-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.me-3 {
  margin-right: 15px;
}

.mx-4 {
  margin-left: 0;
  margin-right: 0;
}

.yoga-img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
  max-height: 100%;
}

.footer {
  background-color: #285E67;
  padding: 20px 0;
  color: white;
}

.iconoRedes {
  font-size: 1.5rem;
  margin-left: 25px;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .d-flex {
    flex-direction: column;
    text-align: center;
  }

  .me-3 {
    margin-bottom: 20px;
  }

  .text-with-icon {
    align-items: center;
    gap: 10px;
  }

  .text-item {
    margin-bottom: 15px;
  }

  .text-item .icon {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }

  .subtitulo {
    font-size: 16px;
  }

  p {
    font-size: 14px;
  }
}
